In [1]:
import numpy as np
import pandas as pd

In [2]:
dataset = pd.read_csv('test.csv')
newdataset = pd.DataFrame()
temp = pd.DataFrame()

In [3]:
dataset.count()

COUNTY                162
Total Active Cases    162
Total Recovered       162
Total Deaths          162
Date                  162
dtype: int64

In [4]:
dataset.head()

      COUNTY  Total Active Cases  Total Recovered  Total Deaths      Date
0      Adams                   0                0             0  4/1/2020
1     Barnes                   0                0             0  4/1/2020
2     Benson                   0                0             0  4/1/2020
3   Billings                   0                0             0  4/1/2020
4  Bottineau                   0                0             0  4/1/2020

In [5]:
dataset.shape

(162, 5)

In [6]:
len(dataset.index)

162

In [7]:
days = int(len(dataset.index)/54)
print(days)

3

In [8]:
for j in range(0,days):
    for i in range(1+54*j,54+54*j):
        dataset.loc[i,:]=dataset.loc[i-1,:] + dataset.loc[i,:]
        temp=dataset[i:i+1]
    newdataset=pd.concat([newdataset,temp])
    newdataset.iloc[j,-1]=j+1
    temp = temp[0:0]

In [9]:
dataset

,COUNTY,Total Active Cases,Total Recovered,Total Deaths,Date
0,Adams,0,0,0,4/1/2020
1,AdamsBarnes,0,0,0,4/1/20204/1/2020
2,AdamsBarnesBenson,0,0,0,4/1/20204/1/20204/1/2020
3,AdamsBarnesBensonBillings,0,0,0,4/1/20204/1/20204/1/20204/1/2020
4,AdamsBarnesBensonBillingsBottineau,0,0,0,4/1/20204/1/20204/1/20204/1/20204/1/2020
...,...,...,...,...,...
157,AdamsBarnesBensonBillingsBottineauBowmanBurkeB...,102,8,0,4/3/20204/3/20204/3/20204/3/20204/3/20204/3/20...
158,AdamsBarnesBensonBillingsBottineauBowmanBurkeB...,109,9,0,4/3/20204/3/20204/3/20204/3/20204/3/20204/3/20...
159,AdamsBarnesBensonBillingsBottineauBowmanBurkeB...,109,9,0,4/3/20204/3/20204/3/20204/3/20204/3/20204/3/20...
160,AdamsBarnesBensonBillingsBottineauBowmanBurkeB...,114,9,0,4/3/20204/3/20204/3/20204/3/20204/3/20204/3/20...
161,AdamsBarnesBensonBillingsBottineauBowmanBurkeB...,114,9,0,4/3/20204/3/20204/3/20204/3/20204/3/20204/3/20...

In [10]:
temp

Empty DataFrame
Columns: [COUNTY, Total Active Cases, Total Recovered, Total Deaths, Date]
Index: []

In [11]:
newdataset

,COUNTY,Total Active Cases,Total Recovered,Total Deaths,Date
53,AdamsBarnesBensonBillingsBottineauBowmanBurkeB...,106,11,0,1
107,AdamsBarnesBensonBillingsBottineauBowmanBurkeB...,110,10,0,2
161,AdamsBarnesBensonBillingsBottineauBowmanBurkeB...,114,9,0,3

In [12]:
import math
math.log(14)

2.6390573296152584